<%- include('header') -%>
	</header>

	<div class="mainContainer">
		<form class="register" action="/login" method="post">
			<input type="text" name="username" placeholder="Username">
			<input type="text" name="password" placeholder="Password">
			<input type="submit" value="Login">
		</form>
	</div>
	<footer>
	  <p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>