<%- include('header') -%>
	</header>

	<div class="mainContainer">
		<form class="piq_form" action="/add_piq" method="post">
			<input type="color" name="color" value="#FFFFFF">
			<input type="submit" name="add" value="Add">
		</form>
	</div>
	<footer>
	  <p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>