<%- include('header') -%>
	</header>

	<div class="mainContainer">
		<form name="register_form" onsubmit="return checkForm(this);" action="/register" method="post">
			<input type="text" name="username" placeholder="Username">
			<input type="text" name="email" placeholder="Email">
			<input type="text" name="name" placeholder="Full Name">
			<input type="text" name="password" placeholder="Password">
			<input type="text" name="passwordAgain" placeholder="Confirm Password">
			<input type="submit" name="register" value="Register">
		</form>
	</div>
	<footer>
	  <p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>