<%- include('header') -%>
	</header>

	<div class="mainContainer">
		<form name="reset_password_form" action="/reset" method="put">
			<input type="text" name="username" placeholder="Username">
			<input type="text" name="oldPassword" placeholder="Old Password">
			<input type="text" name="newPassword" placeholder="New Password">
			<input type="text" name="newPasswordAgain" placeholder="Confirm New Password">
			<input type="submit" name="reset" value="Reset">
		</form>
	</div>
	<footer>
	  <p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>