<%- include('header') -%>
	</header>

	<div class="mainContainer">
		<form name="update_form" onsubmit="return checkForm(this);" action="/update" method="put">
			<input type="text" name="username" placeholder="U">
			<input type="text" name="email" placeholder="E">
			<input type="text" name="name" placeholder="N">
			<input type="text" name="password" placeholder="P">
			<input type="text" name="passwordAgain" placeholder="CP">
			<input type="submit" name="update" value="Update">
		</form>
	</div>
	<footer>
	  <p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>