<%- include('header') -%>
 	</header>

	<div class="mainContainer">
		<h2>about:</h2>
		<p>pi·quan·cy (noun):</p>
		<p>1. a pleasantly sharp and appetizing flavor.</p>
		<p>2. the quality of being pleasantly stimulating or exciting.</p>
	</div>
	<footer></footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>