<%- include('header') -%>
 	</header>

	<div class="mainContainer">
		<h2>about:</h2>
		<p>pi·quan·cy (noun):</p>
		<p>1. a pleasantly sharp and appetizing flavor.</p>
		<p>2. the quality of being pleasantly stimulating or exciting.</p>
		<p>PiqMapper is a social platform designed for those color lovers wanting to track their sentiments over time. With PiqMapper users create piquants, or piqs (pronounced like "peeks") - little bubbles of color that represent instances of emotion. Express yourself without words: Was it an aqua-green week? Did you have a very purple year? Log your emotions over time and see what kind of palatte you're working with.</p>
	</div>
	<footer></footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>