	<footer>
		<div>
			<p><a href="/about">About</a></p>
			<p><a href="/ajax" id="ajaxLink">AJAX</a></p>
		</div>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>