	<footer>
		<div>
			<p><a href="/about">About</a></p>
			<p><button id="ajaxButton">AJAX</a></button>
		</div>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>