<!DOCTYPE html>
<html lang="en">
  <head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
  <title>PiqMapper</title>
	<meta name="description" content="Social-emotion tracking, with colors">
	<meta name="author" content="James Rutledge">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="/javascripts/register_check.js"></script>

  </head>
  <body>
  	
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <h1><a href="/">PiqMapper</a></h1>
    <p>Social-emotion tracking, with colors</p>
    <div>
      <p>New around these parts? <a href="/register">Register</a></p>
      <p>Already a user? <a href="/login">Login</a></p>
      <p>Submit a Piq: <a href="/piq_form">Piq Form</a></p>
    </div>