<%- include('header') -%>
	<p>Piqs: <%= piqs.length %></p>

    <ul>
      <% for (i = 0; i < piqs.length; i++) { %>
        <li style="background-color: <%= piqs[i].color %> ;"></li>
      <% } %>
    </ul>

<%- include('footer') -%>