<%- include('header') -%>
		<p>Piquancy</p>
		<p><%= mypiqs.length %> piqs</p>
	</header>

	<div class="mainContainer">
	    <div class="piqContainer">
	      <% for (i = 0; i < mypiqs.length; i++) { %>
	        <a class="plink" href="/piq/<%= mypiqs[i]._id %>">
	        	<div class="piq" style="background-color: <%= mypiqs[i].color %> ;"></div>
	        </a>
	      <% } %>
	    </div>
	</div>
	<footer>
	  <p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>