<%- include('header') -%>
	</header>

	<div class="mainContainer">
	    <p>Piq:
		    <div class="piq" style="background-color: <%= piq[0].color %> ;"></div>
	    </p>
	</div>
	<footer>
	  <p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>