<%- include('header') -%>
	<form class="piq_form" action="/piq_form" method="post">
		<input type="color" name="color" value="#FFFFFF">
		<input type="submit" name="Submit Piq">
	</form>
<%- include('footer') -%>