<%- include('header') -%>
	<p>Piqs: <%= piqs.length %></p>

    <div class="container">
      <% for (i = 0; i < piqs.length; i++) { %>
        <div class="piq" style="background-color: <%= piqs[i].color %> ;"></div>
      <% } %>
    </div>

<%- include('footer') -%>