<%- include('header') -%>
	</header>

	<div class="mainContainer">
	    <div class="piqContainer">
	      <% for (i = 0; i < piqs.length; i++) { %>
	        <a class="plink" href="/piq/<%= piqs[i]._id %>">
	        	<div class="piq" style="background-color: <%= piqs[i].color %> ;"></div>
	        </a>
	      <% } %>
	    </div>
	    <p class="piqTail"><span>Piqs: <%= piqs.length %></span> | <a id="ajaxLink" href=".">AJAX GET PIQS</a></p>
	</div>
	<footer>
		<p><a href="/about">About</a></p>
	</footer>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>