<%- include('header') -%>
	<form name="register_form" action="/register" method="post">
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="email" placeholder="Email">
		<input type="text" name="name" placeholder="Full Name">
		<input type="text" name="password" placeholder="Password">
		<input type="text" name="passwordAgain" placeholder="Password">
		<input type="submit" name="submit">
	</form>
<%- include('footer') -%>