<%- include('header') -%>
	<form name="reset_password_form" action="/password_reset" method="put">
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="oldPassword" placeholder="Old Password">
		<input type="text" name="newPassword" placeholder="New Password">
		<input type="text" name="newPasswordAgain" placeholder="Confirm New Password">
		<input type="submit" name="submit">
	</form>
<%- include('footer') -%>