<!DOCTYPE html>
<html lang="en">
  <head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
  <title>PiqMapper</title>
	<meta name="description" content="Social-emotion tracking, with colors">
	<meta name="author" content="James Rutledge">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='//fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style type="text/css">

      .mainContainer {
        padding: 0;
        height: 30em;
      }

      .mainWrap {

      }

      .piqContainer {
        height: 29em;
        position: absolute;
        padding: 1em 50px 0;
        margin: 0;
      }

      .modalWrap {
        background-color: rgba(0,0,0,0.5);
        height: 30em;
        position: relative;
        padding: 0 50px;
      }

      .formModal {
        margin:  0;
        padding: 5.2em 0 0 40%;
      }

      #aboutModal {
        padding: 2.5em 0 0;
        margin: 0 20%;
      }

      #aboutContainer {
        background-color: #242424;
        border: 1px solid #000;
        padding: 0 4em 0.83em;
      }

      form {
        display: inline-block;
        margin: 0;
        width: 12em;
      }

      .hidden {
        display: none;
      }

      .active {
        display: block;
      }

    </style>

<!-- SCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/register_check.js"></script>
    <script type="text/javascript" src="/javascripts/piqs.js"></script>

  </head>
  <body>
  	
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header>
      <a href="/">
        <img id="logo" src="/images/piq-mapper-logo.png">
        <h1 id="title">PiqMapper</h1>
      </a>
      <p id="brand">Social-emotion tracking, with colors ~</p>

        <aside class="navContainer">|
            <a id="loginLink">login</a>|
            <a id="regLink">register</a>|          
            <a id="addPiqLink">add_piq</a>|
            <a id="resetLink">reset password</a>|
            <a id="updateLink">update account</a>|
            <a id="logoutLink">logout</a>|
        </aside>

<!--         <aside class="navContainer hidden" id="basicNav">|
            <a id="loginLink">login</a>|
            <a id="regLink">register</a>|
        </aside>
        <aside class="navContainer hidden" id="userNav">|
            <a id="addPiqLink">add_piq</a>|
            <a id="resetLink">reset password</a>|
            <a id="updateLink">update account</a>|
            <a id="logoutLink">logout</a>|
        </aside> -->

        <!-- PRETTY SURE I NEED TO INCLUDE ERROR MESSAGES HERE -->
    </header>

<!-- Main -->

    <div class="mainContainer">
      <div class="mainWrap">

        <div class="piqContainer">
          <% for (i = 0; i < piqs.length; i++) { %>
            <a class="plink" href="/piq/<%= piqs[i]._id %>">
              <div class="piq" style="background-color: <%= piqs[i].color %> ;"></div>
            </a>
          <% } %>
          <p class="piqTail"><span>Piqs: <%= piqs.length %></span></p>
        </div><!-- /.piqContainer -->
        <div class="modalWrap hidden">

          <div class="formModal hidden" id="loginModal">
            <form action="/login" method="post">
              <h2>Login</h2>
              <input type="text" name="username" placeholder="Username">
              <input type="password" name="password" placeholder="Password">
              <input type="submit" value="Login">
            </form><!-- /Login Form -->
          </div><!-- /#loginModal -->

          <div class="formModal hidden" id="registerModal">
            <form name="register_form" onsubmit="return checkForm(this);" action="/register" method="post">
              <h2>Register</h2>
              <input type="text" name="username" placeholder="Username">
              <input type="text" name="email" placeholder="Email">
              <input type="text" name="name" placeholder="Full Name">
              <input type="password" name="password" placeholder="Password">
              <input type="password" name="password_hash" placeholder="Confirm Password">
              <input type="submit" name="register" value="Register">
            </form><!-- /Registration Form -->
          </div><!-- /#registerModal -->

          <div class="formModal hidden" id="resetModal">
            <form name="reset_password_form" action="/reset" method="put">
              <!-- <h2>Reset Password</h2> -->
              <input type="text" name="username" placeholder="Username">
              <input type="text" name="oldPassword" placeholder="Old Password">
              <input type="password" name="newPassword" placeholder="New Password">
              <input type="password" name="newPasswordAgain" placeholder="Confirm New Password">
              <input type="submit" name="reset" value="Reset Password">
            </form><!-- /Reset Password Form -->
          </div><!-- /#resetModal -->

          <div class="formModal hidden" id="updateModal">
            <form name="update_form" onsubmit="return checkForm(this);" action="/update" method="put">
              <!-- <h2>Update Account</h2> -->
              <input type="text" name="username" placeholder="Username">
              <input type="text" name="email" placeholder="Email">
              <input type="text" name="name" placeholder="Full Name">
              <input type="password" name="password" placeholder="Password">
              <input type="password" name="passwordAgain" placeholder="Confirm Password">
              <input type="submit" name="update" value="Update">
            </form><!-- /Update Form -->
          </div><!-- /#updateModal -->

          <div class="formModal hidden" id="addPiqModal">
            <form class="piq_form" action="/add_piq" method="post">
              <!-- <h2>Submit a Piq</h2> -->
              <input type="color" name="color" value="#FFFFFF">
              <input type="submit" name="add" value="Add">
            </form><!-- /Piq Form -->
          </div><!-- /#piqSubmitModal -->

          <div class="hidden" id="aboutModal">
            <div id="aboutContainer">
              <h2>about:</h2>
              <p>pi·quan·cy (noun):</p>
              <p>1. a pleasantly sharp and appetizing flavor.</p>
              <p>2. the quality of being pleasantly stimulating or exciting.</p>
              <p>PiqMapper is a social platform designed for those color lovers wanting to track their sentiments over time. With PiqMapper users create piquants, or piqs (pronounced like "peeks") - little bubbles of color that represent instances of emotion. Express yourself without words: Was it an aqua-green week? Did you have a very purple year? Log your emotions over time and see what kind of palatte you're working with.</p>
            </div>
          </div><!-- /#aboutModal -->

        </div><!-- /.modalWrap -->
      </div><!-- /.mainWrap -->
    </div><!-- /.mainContainer -->

    <footer>
      <p><a id="aboutLink">About</a></p>
    </footer>

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script type="text/javascript">

      //Finds the active modal and hides it
      function hideActive() {
        $(".active").addClass("hidden");
        $(".active").removeClass("active");
      };

      function checkModalWrap() {
        return $(".modalWrap").hasClass("hidden");
      }

      //Show modalWrap
      function showModalWrap() {
        if (checkModalWrap()) {
          $(".modalWrap").removeClass("hidden");
        }
      };

      //Hide modalWrap
      function hideModalWrap() {
        if (!checkModalWrap()) {
          // alert('does not have Hidden Class');
          $(".modalWrap").addClass("hidden");
        }
        else if (checkModalWrap()) {
          // alert('has Hidden Class');
        }
      };

      //Event listener for AboutLink
      $("#aboutLink").on('click', function() {
        hideActive();
        showModalWrap();

        //Show the about modal
        $("#aboutModal").addClass("active");
      });

      //Event listener for loginLink
      $("#loginLink").on('click', function() {
        hideActive();
        showModalWrap();

        //Show the login modal
        $("#loginModal").addClass("active");
      });

      //Event listener for registerLink
      $("#regLink").on('click', function() {
        hideActive();
        showModalWrap();

        //Show the register modal
        $("#registerModal").removeClass("hidden");
        $("#registerModal").addClass("active");
      });

      //Event listener for addPiqLink
      $("#addPiqLink").on('click', function() {
        hideActive();
        showModalWrap();

        //Show the add piq modal
        $("#addPiqModal").removeClass("hidden");
        $("#addPiqModal").addClass("active");
      });

      //Event listener for resetLink
      $("#resetLink").on('click', function() {
        hideActive();
        showModalWrap();

        //Show the reset modal
        $("#resetModal").removeClass("hidden");
        $("#resetModal").addClass("active");
      });

      //Event listener for updateLink
      $("#updateLink").on('click', function() {
        hideActive();
        showModalWrap();

        //Show the update modal
        $("#updateModal").removeClass("hidden");
        $("#updateModal").addClass("active");
      });


      //TEMPORARY HIDE MODALS TESTER:
      //Event listener for logoutLink
      $("#logoutLink").on('click', function() {
        hideActive();
        hideModalWrap();
      });

    </script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>