

        <nav>|
          <% for (i = 0; i < navItems.length; i++) { %>
            <a id="<%= navItems[i].ref %>Link"><%= navItems[i].ref %></a>|
          <% }; %>
        </nav>


          <% for (i = 0; i < piqs.length; i++) { %>
            <a class="plink" href="/piq/<%= piqs[i]._id %>">
              <div class="piq" style="background-color: <%= piqs[i].color %> ;"></div>
            </a>
          <% } %>


<!-- Profile -->

  <div class="mainContainer">
    <p>User Profile:
      <ul>
        <li><%= user.username %></li>
        <li><%= user.name %></li>
        <li><%= user.email %></li>
      </ul>
    </p>
    <div class="piqContainer"></div>
    <p class="piqTail"><a id="myPiquancy" href=".">AJAX PIQUANCY</a></p>
  </div>

<!-- MyPiqs/Piqs/Piq -->

  <div class="mainContainer">
      <div class="piqContainer">
        <% for (i = 0; i < mypiqs.length; i++) { %>
          <a class="plink" href="/piq/<%= mypiqs[i]._id %>">
            <div class="piq" style="background-color: <%= mypiqs[i].color %> ;"></div>
          </a>
        <% } %>
      </div>
  </div>

  <div class="mainContainer">
      <div class="piqContainer">
        <% for (i = 0; i < piqs.length; i++) { %>
          <a class="plink" href="/piq/<%= piqs[i]._id %>">
            <div class="piq" style="background-color: <%= piqs[i].color %> ;"></div>
          </a>
        <% } %>
      </div>
      <p class="piqTail"><span>Piqs: <%= piqs.length %></span> | <a id="ajaxLink" href=".">AJAX GET PIQS</a></p>
  </div>

  <div class="mainContainer">
      <p>Piq:
        <div class="piq" style="background-color: <%= piq[0].color %> ;"></div>
      </p>
  </div>