<%- include('header') -%>
  <p>Users:
    <ul>
      <% for (i = 0; i < users.length; i++) { %>
	    <li><a href="/user/<%= users[i] %>"><%= users[i] %></a></li>
      <% } %>
    </ul>
  </p>
<%- include('footer') -%>