<%- include('header') -%>
  <p>Users:
    <ul>
      <% for (i = 0; i < userlist.length; i++) { %>
	    <a href="/users/<%= userlist[i] %>"><%= userlist[i] %></a>
      <% } %>
    </ul>
  </p>
<%- include('footer') -%>